@charset "UTF-8";
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* Custom styles below */
body {
    font-family: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
}
